.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mouah {
    text-align: center;
    background-color: #20211E;
    color: #D6F788;
}

.pawn {
    width: 125px;
    height: 125px;
    margin: 1em;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
}